/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/* COLOR PALETTE */
:root{
    --bg-header: #255EE9;
    --bg-footer: #23272A;
    --section-text: #111111;
    --bg-body: #FFFFFF;
    --bg-main-sections: #F6F6F6;
    --button: #7289DA;
}
/* END COLOR PALETTE */

.debug{
    border: 1px solid black;
}

.container{
    background-color: var(--bg-body);
}

li{
    list-style: none;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
}

.padding{
    padding:10px;
}

.box{
    background-image: url('../discord-assets/jumbo.png');
    background-size: cover;
    background-position: center;
    height: 625px;
    align-items: center;
}

a{
    text-decoration: none;
    color: #000000;
}

.color-nav-links{
    color: var(--bg-body);
}

.text{
    color: var(--bg-body);
}


/* END GENERAL */

/* ======HEADER====== */

header{
    background-color: var(--bg-header);
}

nav, .header-about, .links{
    max-width: 1200px;
    margin: 0 auto;
}

.nav-layout{
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.nav-menu, .links{
    width: 500px;
    justify-content: space-between;
}

.header-about{
    justify-content: center;
}

.main-title{
    display: block;
    position: relative;
    font-size: 3rem;
}

div > p {
    text-align: center;
}

.button-sing-in{
    width: 124px;
}

.button{
    width: 235px;
}

.button-default-style{
    text-align: center;
    border-radius: 25px;
    height: 40px;
    background-color: #FFFFFF;
    
}


/* ======END HEADER====== */

/* ======MAIN====== */



/* ======END MAIN====== */